.request-root{

  margin-top:12px !important;
  margin-right:12px !important;
  maring-left:12px !important;
  height:60px;
  width:360px;
  padding:10px;
  display:flex !important;
}

.request-drop{
  min-width:100px !important;

  margin-left:0px;
  order:0;
  height:20px;



}

.request-url{
  align-self: stretch;

  margin-left : 30px !important;
  width:200px;
  height:30px;

}
