.req-params{
  color:black;
  display: flex;
  flex-direction: row;
  margin-bottom:50px !important;
}

.well{


  margin:auto !important;
  margin-top:50px !important;
  width:90%
}

.header-h1 {
  align-self: flex-start !important;
  margin-top:0px !important;
}
.params{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align:left;
}
.req-param{
  align-self:center !important;
  margin:3px;
}

.hit{
  margin-top:20px !important;
  width:80%
}
.ReactCodeMirror{
  width:100% !important
}
